.r{
    float: right;
    margin-top: 20px;
}
a{
    text-decoration: nones;
}
.h{
    width: 100%;
    background-color: rgb(255, 153, 0);
    padding: 10px; 
}
.f{
    background-color: darkred;
    padding: 10px;
}